<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boundless API | Item Information</title>
</head>
<body>
    
    <header class="ui fixed header top">
        <div class="ui three item menu">
            <a href="/web/" class="item">Items</a>
            <a href="/web/worlds" class="item">Worlds</a>
        </div>
    </header>
    <main>
        <div class="ui items segment">
            <div class="item">
                <div class="content">
                    
                </div>
            </div>
        </div>
        

    </main>
    <footer class="ui fixed bottom sticky">
        <div class="ui segment header">Created by Darmawan.</div>
    </footer>
    

    <script src="/javascripts/item-info.js"></script>
</body>
</html>